p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.caution {
  background-image: url("images/bulb.png");
}

.tablebox {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  border: 2px #E8E7E7;
  border-radius: 10px;
  background: #F3F2F2 5px center/3em no-repeat;
}

.book .book-summary{
  background: #fffafc;
}

.book .book-body {
   background: #fff;
}